<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Mi Perfil</a>
        <form (submit)="connect(user)">
            <input #user type="text" name="newWeb" placeholder="Buscar Usuario">
            <button>Buscar</button>
        </form>
    </div>
</nav>
<body *ngIf="show">
<div>
    <h1>{{profile.username}}</h1>
    <h3>Monedero: {{profile.wallet}}</h3>
    <h5>Lista de actividades ofertadas</h5>
    <ul>
        <li *ngFor="let activity of profile.listaOfertada">
            <ul>Actividad: {{activity.name}}</ul>
            <ul>Usuario: {{activity.user}}</ul>
            <ul>Descripción: {{activity.description}}</ul>
        </li>
    </ul>
    <h5>Lista de actividades recibidas</h5>
    <ul>
        <li *ngFor="let activity of profile.listaRecibida">
            <ul>Actividad: {{activity.name}}</ul>
            <ul>Usuario: {{activity.user}}</ul>
            <ul>Descripción: {{activity.description}}</ul>
        </li>
    </ul>
</div>
</body>